#campaign_form{
    display: none;
    margin-top:20px;
}

.cm-ad-changer{
    position: relative;
}

.cm-ad_changer .ac-edit-form{
    max-width:905px;
}

.cm-ad-changer.ac_settings .ac-edit-form table{
    margin-top:5px; padding:10px; border-radius:6px; background-color:#f5f5f5;vertical-align: top;box-sizing: border-box; width: 100%;
}


.cm-ad-changer.ac_settings #settings_fields table td:first-child{
    width:220px;
}

.cm-ad-changer.ac_settings .acs-shortcode-reference ul{
    display: none;
}


.cm-ad-changer .custom_style{
    display: none;
}


.cm-ad-changer.ac_settings h4{
    margin: 0;
}

.cm-ad-changer.ac_settings textarea, .cm-ad-changer.ac_settings input[type=text]{
    width: 100%;
}

.cm-ad-changer .campaigns_list_scroll{
    max-height:130px;
    overflow-y: scroll;
}


.cm-ad-changer table#campaigns_list{
    width:100%;
    margin:0;
}

.cm-ad-changer table#campaigns_list tr.selected_campaign{
    font-weight: bold;
}

.cm-ad-changer table#campaigns_list td{
    text-align:center;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 3px;
}

.cm-ad-changer table#campaigns_list td:first-child{
    position: relative;
    text-align: left;
}

.cm-ad-changer .campaigns_list_table_head{
    padding-right:13px;
    width: 100%;
}

.cm-ad-changer .campaigns_list_table_head div{
    margin-top:20px;
    float: left;
    text-align:center;
    font-weight: bold;
}

.cm-ad-changer .campaigns_list_table_head div:nth-child(1),.cm-ad-changer table#campaigns_list td:nth-child(1){
    width:20%;
}

.cm-ad-changer .campaigns_list_table_head div:nth-child(2),.cm-ad-changer table#campaigns_list td:nth-child(2){
    width:12%;
}

.cm-ad-changer .campaigns_list_table_head div:nth-child(3),.cm-ad-changer table#campaigns_list td:nth-child(3){
    width:12%;
}

.cm-ad-changer .campaigns_list_table_head div:nth-child(4),.cm-ad-changer table#campaigns_list td:nth-child(4){
    width:12%;
}

.cm-ad-changer .campaigns_list_table_head div:nth-child(5),.cm-ad-changer table#campaigns_list td:nth-child(5){
    width:12%;
}

.cm-ad-changer .campaigns_list_table_head div:nth-child(6),.cm-ad-changer table#campaigns_list td:nth-child(6){
    width:12%;
}

.cm-ad-changer .campaigns_list_table_head div:nth-child(7),.cm-ad-changer table#campaigns_list td:nth-child(7){
    width:18%;
}

.cm-ad-changer #ac-fields > table {width:710px; margin-top:5px; padding:10px; border-radius:6px; background-color:#f5f5f5;vertical-align: top;box-sizing: border-box;}

.cm-ad-changer #ac-fields > table > tbody > tr{
    width: 100%;
}

.cm-ad-changer #ac-fields > table > tbody > tr > td:last-child{
    width: 530px;
}

.cm-ad-changer #ac-fields > table#campaign_fields > tbody > tr > td:last-child, .cm-ad-changer #ac-fields > table#banners_fields > tbody > tr > td:last-child{ /* campaign fields*/
    width: 515px;
}

.cm-ad-changer #ac-fields > table > tbody > tr > td:first-child{
    padding-right: 10px;
}

.cm-ad-changer .ac-form-hidden {display:none}
.cm-ad-changer .msg_success, .cm-ad-changer .msg_error {border:solid 1px; margin:10px 0; padding:15px 10px 15px 50px;list-style-type:none; background-repeat:no-repeat;background-position:10px 10px;}
.cm-ad-changer .msg_success {color:#4f8a10; background-color: #dff2bf; background-image:url(./images/success.png);}
.cm-ad-changer .msg_error {color:#d8000c; background-color:#ffbaba; background-image:url(./images/error.png);}
.cm-ad-changer  #ac-fields > table > tbody > tr > td {vertical-align:top !important; padding-top:10px; padding-bottom:10px;}
.cm-ad-changer  #ac-fields  > table > tbody > tr:not(:last-child) > td{border-bottom: 2px dotted #dedede}
.cm-ad-changer .ac-edit-form p{margin-top: 0px;}
.cm-ad-changer .ac-edit-form p:last-child{margin-bottom: 0px;}
.cm-ad-changer .ac-edit-form label.ac-form-label {font-weight:bold; display: inline;}
.cm-ad-changer .ac-edit-form input[type=file] {font-size:0.9em;}
.cm-ad-changer .ac-edit-form input[type=text], .ac-edit-form textarea, .ac-edit-form .mceLayout {background-color:#fff;}
.cm-ad-changer .ac-edit-form input[type=checkbox] {margin-right:2px; width:auto !important}
.cm-ad-changer .field_help{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('./images/help.png');
    cursor: pointer;
}

.cm-ad-changer .field_help:hover{
    background-image: url('./images/help_hover.png');
}

.cm-ad-changer input[type=submit], .cm-ad-changer .ac-edit-form input[type=button]
{
    -moz-box-shadow:inset 0px 1px 0px 0px #eeeeee;
    -webkit-box-shadow:inset 0px 1px 0px 0px #eeeeee;
    box-shadow:inset 0px 1px 0px 0px #eeeeee;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e7e7e7), color-stop(1, #cccccc) );
    background:-moz-linear-gradient( center top, #e7e7e7 5%, #cccccc 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#cccccc');
    background-color:#cccccc;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #aaaaaa;
    display:inline-block;
    color:#888888;
    font-family:Arial;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:21px;
    min-width:100px;
    text-decoration:none;
    text-align:center;
    padding:0px 30px;
}

.cm-ad-changer input[type=submit]:hover, .cm-ad-changer .ac-edit-form input[type=button]:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dddddd), color-stop(1, #e7e7e7) );
    background:-moz-linear-gradient( center top, #dddddd 5%, #e7e7e7 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#e7e7e7');
    background-color:#dddddd;
}

.cm-ad-changer input[type=submit]:active, .cm-ad-changer .ac-edit-form input[type=button]:active{
    position:relative;
    top:1px;
}

.cm-ad-changer .ac-edit-form input#submit_button{
    margin-top:5px;
}

.cm-ad-changer input[name=title],.cm-ad-changer input[name=link],.cm-ad-changer input[name=comment]{
    width:50%;
}

.cm-ad-changer input.num_field{
    width:50px !important;
}

.cm-ad-changer .notes_field{
    padding: 5px 0px 5px 0px;
}

.cm-ad-changer .notes_field input[type=text]{
    background-color: #fffabd;
}

.cm-ad-changer input#max_impressions, input#max_clicks{
    width: 50px;
}

.cm-ad-changer .ac_explanation{
    display: block;
    width: auto;
    font-style: italic;
    font-size:10px;
}

.cm-ad-changer .campaign_comment{
    color: orange;
    font-style: italic;
    padding-left:2px;
}

.cm-ad-changer #campaign_comment_area{
    position:absolute;
    border: 1px solid #cccccc;
    background-color:white;
    border-radius:6px;
    z-index:1;
    padding: 5px;
}

.cm-ad-changer #campaign_comment_area .comment_error{
    color: red;
    padding:0px 2px;
    font-size:11px;
}

.cm-ad-changer #campaign_comment_area h4{
    margin-top:0px;
    margin-bottom:0px;
}

.cm-ad-changer .category_row{
    margin-top: 7px;
}

.cm-ad-changer .categories{
    margin-bottoM: 7px
}

.cm-ad-changer .categories input[type=text], input#server_domain{
    width:300px;
}

input#server_domain{
    background-color: #eeeeee;
}

.cm-ad-changer #uncheck_all_cats_link{
    margin-bottom:5px;
}

.cm-ad-changer .delete_link{
    margin-left:5px;
}

.cm-ad-changer .delete_link img{
    width:12px;
    height: 12px;
}

.cm-ad-changer #class_name_fields{
    display: none;
}

.cm-ad-changer .plupload_image{
    position: relative;
    width:100% !important;
    text-align:left;
    border: 2px solid #eaeaea;
    display: block;
    padding:5px 5px;
    margin: 0px 8px 8px 0px;
    overflow-y: hidden;
    background-color: #eeeeee;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input#pickfiles{
    margin-bottom: 10px;
}

.cm-ad-changer .plupload_image.selected{
    border: 2px solid orange;
}

.cm-ad-changer .plupload_image img.banner_image{
    width:180px;
    max-height:150px;
    float: left;
    cursor: pointer;
}

.cm-ad-changer .plupload_image .banner_info{
    margin-left: 190px;
}

.cm-ad-changer .plupload_image .banner_info label{
    display: inline-block;
}

.cm-ad-changer .plupload_image .banner_info input[type=text]{
    width: 200px;
    font-size:9px;
    color: #666666;
}

.cm-ad-changer .plupload_image .delete_image{
    display: inline-block;
}

.cm-ad-changer .plupload_image .delete_button{
    position: absolute;
    right:3px;
    top:3px;
    cursor: pointer;
}

.cm-ad-changer .plupload_image .clicks_and_impressions{
    position: absolute;
    top:10px;
    left: 10px;
}

.cm-ad-changer .plupload_image .impressions, .cm-ad-changer .plupload_image .clicks, .cm-ad-changer .plupload_image .percent{
    background-color: white;
    padding: 2px 18px 2px 2px;
    float: left;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius:3px;
    border: 1px solid #e7e7e7;
}

.cm-ad-changer .plupload_image .impressions, .cm-ad-changer .plupload_image .clicks{
    margin-right: 5px;
}

.cm-ad-changer .plupload_image .impressions{
    background-image:url('./images/eye.png')
}

.cm-ad-changer .plupload_image .clicks{
    background-image:url('./images/click.png')
}

.cm-ad-changer .plupload_image .percent{
    background-image:url('./images/percent.png')
}

.selected_banner_details{
    display:none;
    font-size:0.9em;
}

.selected_banner_details label{
    font-weight: bold !important;
}

.cm-ad-changer textarea#custom_js{
    width: 100%;
    height:80px;
}

.cm-ad-changer textarea#comment{
    width: 100%;
    height:80px;
}

.cm-ad-changer .add_link img{
    width:20px;
    height:20px;
}

#dates .date_range_row{
    margin-bottom:7px;
}

#dates .date_range_row input{
    font-size: 11px;
}

#dates .date_range_row input.date{
    width:80px;
    text-align: center;
}

#dates input.ac_spinner{
    width:20px;
}

#dates .ui-spinner{
    margin-top:-2px;
}

img.banner_tooltip_image{
    max-width:200px;
    max-height:200px;
}

table#ads_history{
    width:100%;
}

table#ads_history th{
    text-align: left;
}

table.ads_list tbody tr:nth-child(odd){
    background-color: #eeeeee
}

.cm-ad-changer #ac_filter{
    padding-bottom:15px;
}

.cm-ad-changer #ac_filter div{
    margin-right:15px;
}

.cm-ad-changer #ac_filter input[type=submit]{
    height:27px;
    line-height:auto !important;
}

.asc_pagination{
    padding:5px;
}

.asc_pagination a, .asc_pagination span{
    margin-left: 10px;
}

.clear{
    clear: both;
}

.right{
    float: right
}

.left{
    float: left;
    margin-right: 15px;
}

.ui-tabs-hide{
    display: none !important;
}

div.cminds_call_to_action{
    display: flex;
}

div.cminds_call_to_action .inner_box{
    border: 1px solid #999;
    padding: 0 0.5em 0.5em;
    margin: 0 auto;
    min-width: 290px;
}

div.cminds_call_to_action a{
    text-decoration: none;
}